body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/bk.png");
    background-size: cover;
    text-align: center;
    color: aqua;
    font-weight: bold;
}

h1 {
    color: rgb(17, 233, 114);
    padding-top: 70px;
}

#message-el {
    font-style: italic;
}

button {
    color: #6f0138;
    width: 150px;
    background: rgb(32, 218, 156);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px; 
}